@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body, html {
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  min-height: calc(100vh - 60px - 110px);
  height: 100%;
  width: 100%;
}

.logo-if {
  font-family: 'Source Code Pro', monospace;
  font-weight: 800;
  color: blueviolet;
  font-size: 22px;
}
.logo-connect {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  color: blue;
  font-size: 23px;
}

.box-profile  {
  height: calc(100vh - 61px - 112px);
}

.box-logout {
  height: calc(100vh - 60px - 112px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-login {
  min-height: calc(100vh - 60px - 112px);
  display: flex;
  align-items: center;
} 

.tableBody {
  min-height: 450px;
}